@keyframes animation-112 {
  from {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-112 {
  animation: animation-112 0.3s ease-out 0s normal forwards;
}
@keyframes animation-114 {
  from {
    width: 60.31%;
    height: 6.81%;
    transform: rotate(0deg);
  }
  to {
    width: 60.31%;
    height: 6.81%;
    transform: rotate(0deg);
  }
}
.animationClass-114 {
  animation: animation-114 0.3s ease-out 0s normal forwards;
}
@keyframes animation-114-114-0 {
  from {
    font-size: calc(47 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(48 * var(--ratio));
    color: #1d1f1dff;
  }
  to {
    font-size: calc(47 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(48 * var(--ratio));
    color: #1d1f1dff;
  }
}

.animationClass-114-114-0 {
  animation: animation-114-114-0 0.3s ease-out 0s normal forwards;
}
@keyframes animation-163 {
  from {
    width: 100%;
    height: 7.04%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 7.04%;
    transform: rotate(0deg);
  }
}
.animationClass-163 {
  animation: animation-163 0.3s ease-out 0s normal forwards;
}
@keyframes animation-119 {
  from {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-119 {
  animation: animation-119 0.3s ease-out 0s normal forwards;
}
@keyframes animation-120 {
  from {
    width: 46.56%;
    height: 51.67%;
    transform: rotate(0deg);
  }
  to {
    width: 46.56%;
    height: 51.67%;
    transform: rotate(0deg);
  }
}
.animationClass-120 {
  animation: animation-120 0.3s ease-out 0s normal forwards;
}
@keyframes animation-120-120-0 {
  from {
    font-size: calc(23 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(24 * var(--ratio));
    color: #ffffffff;
  }
  to {
    font-size: calc(23 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(24 * var(--ratio));
    color: #ffffffff;
  }
}

.animationClass-120-120-0 {
  animation: animation-120-120-0 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1320 {
  from {
    width: 90.59%;
    height: 14.08%;
    transform: rotate(0deg);
  }
  to {
    width: 90.59%;
    height: 14.08%;
    transform: rotate(0deg);
  }
}
.animationClass-1320 {
  animation: animation-1320 0.3s ease-out 0s normal forwards;
}
@keyframes animation-115 {
  from {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-115 {
  animation: animation-115 0.3s ease-out 0s normal forwards;
}
@keyframes animation-180 {
  from {
    width: 94.1%;
    height: 25%;
    transform: rotate(0deg);
  }
  to {
    width: 94.1%;
    height: 25%;
    transform: rotate(0deg);
  }
}
.animationClass-180 {
  animation: animation-180 0.3s ease-out 0s normal forwards;
}
@keyframes animation-180-180-0 {
  from {
    font-size: calc(23 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(24 * var(--ratio));
    color: #1d1f1dff;
  }
  to {
    font-size: calc(23 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(24 * var(--ratio));
    color: #1d1f1dff;
  }
}

.animationClass-180-180-0 {
  animation: animation-180-180-0 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13215 {
  from {
    width: 99.81%;
    height: 7.16%;
    transform: rotate(0deg);
  }
  to {
    width: 99.81%;
    height: 7.16%;
    transform: rotate(0deg);
  }
}
.animationClass-13215 {
  animation: animation-13215 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13216 {
  from {
    width: 25.05%;
    height: 98.36%;
    transform: rotate(0deg);
  }
  to {
    width: 25.05%;
    height: 98.36%;
    transform: rotate(0deg);
  }
}
.animationClass-13216 {
  animation: animation-13216 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13217 {
  from {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-13217 {
  animation: animation-13217 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13218 {
  from {
    width: 33.59%;
    height: 25%;
    transform: rotate(0deg);
  }
  to {
    width: 33.59%;
    height: 25%;
    transform: rotate(0deg);
  }
}
.animationClass-13218 {
  animation: animation-13218 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13218-13218-0 {
  from {
    font-size: calc(11 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(12 * var(--ratio));
    color: #052700ff;
  }
  to {
    font-size: calc(11 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(12 * var(--ratio));
    color: #052700ff;
  }
}

.animationClass-13218-13218-0 {
  animation: animation-13218-13218-0 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13219 {
  from {
    width: 25.05%;
    height: 98.36%;
    transform: rotate(0deg);
  }
  to {
    width: 25.05%;
    height: 98.36%;
    transform: rotate(0deg);
  }
}
.animationClass-13219 {
  animation: animation-13219 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13220 {
  from {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-13220 {
  animation: animation-13220 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13221 {
  from {
    width: 58.02%;
    height: 25%;
    transform: rotate(0deg);
  }
  to {
    width: 58.02%;
    height: 25%;
    transform: rotate(0deg);
  }
}
.animationClass-13221 {
  animation: animation-13221 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13221-13221-0 {
  from {
    font-size: calc(11 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(12 * var(--ratio));
    color: #052700ff;
  }
  to {
    font-size: calc(11 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(12 * var(--ratio));
    color: #052700ff;
  }
}

.animationClass-13221-13221-0 {
  animation: animation-13221-13221-0 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13222 {
  from {
    width: 25.05%;
    height: 98.36%;
    transform: rotate(0deg);
  }
  to {
    width: 25.05%;
    height: 98.36%;
    transform: rotate(0deg);
  }
}
.animationClass-13222 {
  animation: animation-13222 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13223 {
  from {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-13223 {
  animation: animation-13223 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13224 {
  from {
    width: 52.93%;
    height: 25%;
    transform: rotate(0deg);
  }
  to {
    width: 52.93%;
    height: 25%;
    transform: rotate(0deg);
  }
}
.animationClass-13224 {
  animation: animation-13224 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13224-13224-0 {
  from {
    font-size: calc(11 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(12 * var(--ratio));
    color: #052700ff;
  }
  to {
    font-size: calc(11 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(12 * var(--ratio));
    color: #052700ff;
  }
}

.animationClass-13224-13224-0 {
  animation: animation-13224-13224-0 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13225 {
  from {
    width: 25.05%;
    height: 98.36%;
    transform: rotate(0deg);
  }
  to {
    width: 25.05%;
    height: 98.36%;
    transform: rotate(0deg);
  }
}
.animationClass-13225 {
  animation: animation-13225 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13226 {
  from {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-13226 {
  animation: animation-13226 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13227 {
  from {
    width: 37.66%;
    height: 25%;
    transform: rotate(0deg);
  }
  to {
    width: 37.66%;
    height: 25%;
    transform: rotate(0deg);
  }
}
.animationClass-13227 {
  animation: animation-13227 0.3s ease-out 0s normal forwards;
}
@keyframes animation-13227-13227-0 {
  from {
    font-size: calc(11 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(12 * var(--ratio));
    color: #052700ff;
  }
  to {
    font-size: calc(11 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(12 * var(--ratio));
    color: #052700ff;
  }
}

.animationClass-13227-13227-0 {
  animation: animation-13227-13227-0 0.3s ease-out 0s normal forwards;
}
@keyframes animation-726 {
  from {
    width: 90.59%;
    height: 37.21%;
    transform: rotate(0deg);
  }
  to {
    width: 90.59%;
    height: 37.21%;
    transform: rotate(0deg);
  }
}
.animationClass-726 {
  animation: animation-726 0.3s ease-out 0s normal forwards;
}
@keyframes animation-725 {
  from {
    width: 100%;
    height: 37.85%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 37.85%;
    transform: rotate(0deg);
  }
}
.animationClass-725 {
  animation: animation-725 0.3s ease-out 0s normal forwards;
}
@keyframes animation-116 {
  from {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-116 {
  animation: animation-116 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1321 {
  from {
    width: 92.13%;
    height: 29.17%;
    transform: rotate(0deg);
  }
  to {
    width: 92.13%;
    height: 29.17%;
    transform: rotate(0deg);
  }
}
.animationClass-1321 {
  animation: animation-1321 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1321-1321-0 {
  from {
    font-size: calc(23 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(24 * var(--ratio));
    color: #1d1f1dff;
  }
  to {
    font-size: calc(23 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(24 * var(--ratio));
    color: #1d1f1dff;
  }
}

.animationClass-1321-1321-0 {
  animation: animation-1321-1321-0 0.3s ease-out 0s normal forwards;
}
@keyframes animation-723 {
  from {
    width: 89.89%;
    height: 23.33%;
    transform: rotate(0deg);
  }
  to {
    width: 89.89%;
    height: 23.33%;
    transform: rotate(0deg);
  }
}
.animationClass-723 {
  animation: animation-723 0.3s ease-out 0s normal forwards;
}
@keyframes animation-72 {
  from {
    width: 8.75%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 8.75%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-72 {
  animation: animation-72 0.3s ease-out 0s normal forwards;
}
@keyframes animation-713 {
  from {
    width: 87.81%;
    height: 51.77%;
    transform: rotate(0deg);
  }
  to {
    width: 87.81%;
    height: 51.77%;
    transform: rotate(0deg);
  }
}
.animationClass-713 {
  animation: animation-713 0.3s ease-out 0s normal forwards;
}
@keyframes animation-711 {
  from {
    width: 100%;
    height: 0%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 0%;
    transform: rotate(0deg);
  }
}
.animationClass-711 {
  animation: animation-711 0.3s ease-out 0s normal forwards;
}
@keyframes animation-712 {
  from {
    width: 59.08%;
    height: 0%;
    transform: rotate(0deg);
  }
  to {
    width: 59.08%;
    height: 0%;
    transform: rotate(0deg);
  }
}
.animationClass-712 {
  animation: animation-712 0.3s ease-out 0s normal forwards;
}
@keyframes animation-724 {
  from {
    width: 100%;
    height: 62.15%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 62.15%;
    transform: rotate(0deg);
  }
}
.animationClass-724 {
  animation: animation-724 0.3s ease-out 0s normal forwards;
}
@keyframes animation-117 {
  from {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-117 {
  animation: animation-117 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1322 {
  from {
    width: 92.13%;
    height: 17.77%;
    transform: rotate(0deg);
  }
  to {
    width: 92.13%;
    height: 17.77%;
    transform: rotate(0deg);
  }
}
.animationClass-1322 {
  animation: animation-1322 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1322-1322-0 {
  from {
    font-size: calc(23 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(24 * var(--ratio));
    color: #1d1f1dff;
  }
  to {
    font-size: calc(23 * var(--ratio));
    font-family: Inter;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    line-height: calc(24 * var(--ratio));
    color: #1d1f1dff;
  }
}

.animationClass-1322-1322-0 {
  animation: animation-1322-1322-0 0.3s ease-out 0s normal forwards;
}
@keyframes animation-722 {
  from {
    width: 89.89%;
    height: 14.21%;
    transform: rotate(0deg);
  }
  to {
    width: 89.89%;
    height: 14.21%;
    transform: rotate(0deg);
  }
}
.animationClass-722 {
  animation: animation-722 0.3s ease-out 0s normal forwards;
}
@keyframes animation-73 {
  from {
    width: 8.75%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 8.75%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-73 {
  animation: animation-73 0.3s ease-out 0s normal forwards;
}
@keyframes animation-715 {
  from {
    width: 87.81%;
    height: 51.77%;
    transform: rotate(0deg);
  }
  to {
    width: 87.81%;
    height: 51.77%;
    transform: rotate(0deg);
  }
}
.animationClass-715 {
  animation: animation-715 0.3s ease-out 0s normal forwards;
}
@keyframes animation-716 {
  from {
    width: 100%;
    height: 0%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 0%;
    transform: rotate(0deg);
  }
}
.animationClass-716 {
  animation: animation-716 0.3s ease-out 0s normal forwards;
}
@keyframes animation-717 {
  from {
    width: 59.08%;
    height: 0%;
    transform: rotate(0deg);
  }
  to {
    width: 59.08%;
    height: 0%;
    transform: rotate(0deg);
  }
}
.animationClass-717 {
  animation: animation-717 0.3s ease-out 0s normal forwards;
}
@keyframes animation-721 {
  from {
    width: 89.89%;
    height: 14.21%;
    transform: rotate(0deg);
  }
  to {
    width: 89.89%;
    height: 14.21%;
    transform: rotate(0deg);
  }
}
.animationClass-721 {
  animation: animation-721 0.3s ease-out 0s normal forwards;
}
@keyframes animation-74 {
  from {
    width: 8.75%;
    height: 100%;
    transform: rotate(0deg);
  }
  to {
    width: 8.75%;
    height: 100%;
    transform: rotate(0deg);
  }
}
.animationClass-74 {
  animation: animation-74 0.3s ease-out 0s normal forwards;
}
@keyframes animation-718 {
  from {
    width: 87.81%;
    height: 51.77%;
    transform: rotate(0deg);
  }
  to {
    width: 87.81%;
    height: 51.77%;
    transform: rotate(0deg);
  }
}
.animationClass-718 {
  animation: animation-718 0.3s ease-out 0s normal forwards;
}
@keyframes animation-719 {
  from {
    width: 100%;
    height: 0%;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 0%;
    transform: rotate(0deg);
  }
}
.animationClass-719 {
  animation: animation-719 0.3s ease-out 0s normal forwards;
}
@keyframes animation-720 {
  from {
    width: 59.08%;
    height: 0%;
    transform: rotate(0deg);
  }
  to {
    width: 59.08%;
    height: 0%;
    transform: rotate(0deg);
  }
}
.animationClass-720 {
  animation: animation-720 0.3s ease-out 0s normal forwards;
}
